* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body > header {
  background-color: #2f3640;
  padding: 16px 0;
  color: #f5f6fa;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header li {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-left: 16px;
}

header li a {
  color: #f5f6fa;
  text-decoration: none;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

section {
  padding: 16px 0;
}

section h2 {
  font-size: 32px;
}

section h2, .articles article {
  margin-bottom: 16px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.articles article {
  width: 30%;
}

.articles article img {
  /* height: 180px; */
  width: 100%;
}

.articles article h3 {
  font-size: 24px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.articles article p, .articles article a {
  font-family: Arial, Helvetica, sans-serif;
}

.articles article a {
  background-color: blue;
  color: #fff;
  margin-top: 8px;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.articles article a:hover {
  text-decoration: underline;
}

#sports {
  background-color: rgba(0, 255, 0, 0.10);
}

#sports .articles article a {
  background-color: #009432;
}

#economy {
  background-color: #f8f59f;
}

#economy .articles article a {
  background-color: #ff9f1a;
}

#tecnology {
  background-color: rgba(224, 247, 250, 0.8);
}

#tecnology .articles article a {
  background-color: #569da6;
}

#entertainment {
  background-color: rgba(255, 204, 128, 0.7);
}

#entertainment .articles article a {
  background-color: #ff9800
}